#loginForm, #registerForm{
	background: #47A76A;
	opacity:1;
	position: absolute;
	overflow: hidden;
	z-index: 5;
	display: none;
}
#loginForm{
	width: 350px;
	height: 200px;
	margin-left:50px;
	/*display: none;*/
}
#registerForm{
	width: 600px;
	height: 360px;
	margin-left:50px;
	/*margin: 0px 462px;*/
}
.form{
	display: block;
	padding-top:10px;
	padding-left: 50px;
}
.input{
	margin-top: 20px;
	padding-left: 5px;
	border:1px solid #334;
	border-radius:5px;
	width: 200px;
	height:30px;
}
.button{
	margin-top: 20px;
	border:1px solid #556;
	border-radius:4px;
	width: 150px;
	height: 30px;
	line-height: 30px;
	color:#444;
}
.button:hover{
	cursor: pointer;
	background: #E6E6FA;
}

#info{
	margin-top: 20px;
}
.span{
	color:#F08080;
	font-size: 12px;
}